* {
  margin: 0;
  padding: 0;
  font-family: agdasima, sans-serif;
}

#title-wrap {
  margin-bottom: 4rem;
}

#title-wrap p {
  display: flex;
  justify-content: center;
}

h1 {
  display: flex;
  justify-content: center;
  font-size: 4rem;
}
#inner-to-do-wrap {
}

#input {
  background-color: rgb(255, 255, 255);
  width: 200px;
  height: 25px;
  border: 3px solid #e5e5e5;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
  border-radius: 4px;
}

#input[type="text"]:focus {
  border: 3px solid #ccc;
}
#submitBtn {
  height: 29.5px;
  border-radius: 4px;
  padding-left: 5px;
  padding-right: 5px;
  border: 3px solid #e5e5e5;
  background-color: rgb(255, 255, 255);
}

#submitBtn:hover {
  cursor: pointer;
}

.to-do-wrap {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.to-do-item {
  display: flex;
  justify-content: space-between;
  border: 2px solid indigo;
  margin: auto;
  width: 430px;
}

.to-do-item button {
  background-color: red;
  width: 2rem;
}

.to-do-item button:hover {
  cursor: pointer;
}

p:hover {
  cursor: pointer;
}
.completed {
  text-decoration: line-through;
}
