* {
  margin: 0;
  padding: 0;
  font-family: agdasima, sans-serif;
}

#title-wrap {
  margin-bottom: 4rem;
}

#title-wrap p {
  display: flex;
  justify-content: center;
}

h1 {
  display: flex;
  justify-content: center;
  font-size: 4rem;
}

#input {
}

#submitBtn {
}

#submitBtn:hover {
  cursor: pointer;
}

.to-do-wrap {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.to-do-item {
  display: flex;
  justify-content: space-between;
  border: 2px solid indigo;
  width: 100px;
  margin: auto;
}

.to-do-item button {
  background-color: red;
  width: 2rem;
}

.to-do-item button:hover {
  cursor: pointer;
}

p:hover {
  cursor: pointer;
}
.completed {
  text-decoration: line-through;
}
