* {
  margin: 0;
  padding: 0;
}

.li-wrapper {
  display: flex;
}

li {
  background-color: #707070;
  min-width: 100px;
  border: 1px solid red;
  padding: 10px;
  margin-top: 10px;
}

.todos button {
  margin-top: 10px;
  padding: 10px;
  background-color: red;
}

.todos button:hover {
  cursor: pointer;
}
