* {
  margin: 0;
  padding: 0;
}

.todo-item {
  display: flex;
}

.todo-item button {
  background-color: red;
}

.todos button:hover {
  cursor: pointer;
}

p:hover {
  cursor: pointer;
}
.completed {
  text-decoration: line-through;
}
