* {
  margin: 0;
  padding: 0;
  font-family: agdasima, sans-serif;
}

#title-wrap {
  margin-bottom: 4rem;
}

#title-wrap p {
  display: flex;
  justify-content: center;
}

h1 {
  display: flex;
  justify-content: center;
  font-size: 4rem;
}

#input {
  background-color: rgb(255, 255, 255);
  width: 200px;
  height: 25px;
  border: 3px solid #e5e5e5;
  -webkit-transition: 0.5s;
  transition: 0.8s;
  outline: none;
  border-radius: 4px;
  letter-spacing: 3px;
  padding-left: 6px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

#input[type="text"]:focus {
  border: 3px solid #ccc;
  box-shadow: none;
}
#submitBtn {
  height: 29.5px;
  border-radius: 4px;
  padding-left: 5px;
  padding-right: 5px;
  border: 3px solid #e5e5e5;
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  transition: 0.5s;
  letter-spacing: 3px;
}

#submitBtn:hover {
  cursor: pointer;
  box-shadow: none;
}

.to-do-wrap {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.to-do-item {
  display: flex;
  justify-content: space-between;
  border: 3px solid #e5e5e5;
  border-radius: 4px;
  margin: auto;
  max-width: auto;
  text-align: center;
  margin-top: 5px;
  letter-spacing: 5px;
  max-width: 420px;
  user-select: none;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 5px 10px, rgba(0, 0, 0, 0.23) 0px 3px 3px;
}

.to-do-item p {
  color: #a2a2a2;
  text-align: center;
  margin: auto;
  font-weight: 500;
}

.to-do-item button {
  background-color: red;
  width: 2rem;
  border-radius: 3px;
  letter-spacing: 3px;
  padding-left: 2px;
  color: #fff;
  text-align: center;
  border: 1px solid #ccc;
}

.to-do-item button:hover {
  cursor: pointer;
}

p:hover {
  cursor: pointer;
}
.completed {
  text-decoration: line-through;
  text-decoration-color: red;
}
